pebble-locker-android/bin/
pebble-locker-android/gen/
pebble-locker-android/.settings
pebble-locker-android/.classpath
pebble-locker-android/.project
pebble-locker-watch-app/build/
pebble-locker-watch-app/.lock-waf_darwin_build
