<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lukekorth.pebblelocker">
    
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".PebbleLockerApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <meta-data android:name="AA_DB_NAME" android:value="pebble_locker.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="3" />
        <meta-data android:name="AA_MODELS"
            android:value="com.lukekorth.pebblelocker.models.AndroidWearDevices, com.lukekorth.pebblelocker.models.BluetoothDevices, com.lukekorth.pebblelocker.models.WifiNetworks" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity android:name=".PebbleLocker"
            	android:icon="@drawable/ic_launcher"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AuthenticationActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".DevicesActivity" android:label="@string/bluetooth_devices" />
        <activity android:name=".WiFiNetworks" android:label="@string/wifi_networks" />

        <service android:name=".services.AndroidWearDetectionService" />
        <service android:name=".services.LockStateIntentService" />
        <service android:name=".services.LockingIntentService" />

        <receiver android:name=".receivers.PebbleLockerDeviceAdminReceiver"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                       android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.PebbleConnectionReceiver" android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.getpebble.action.PEBBLE_CONNECTED" />
                <action android:name="com.getpebble.action.PEBBLE_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.UserPresentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BluetoothConnectionReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.DelayedLockReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.lukekorth.pebblelocker.delayed_lock" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.WiFiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".receivers.AndroidWearReceiver"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.PebbleRequestReceiver" android:exported="true"
            tools:ignore="ExportedReceiver">
          <intent-filter>
            <action android:name="com.getpebble.action.app.RECEIVE" />
          </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lukekorth.pebblelocker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
